<template name="mealReserve">
  <div class="ui stackable centered grid meal-reserve-grid">
    <div class="ui four wide column raised segment meal-reserve-details">
      <img src="{{cover.org}}" width="100%" />
      <h2 class="ui centered header">{{title}}</h2>
      <h3 class="ui centered header meal-reserve-city">{{address.city}},{{address.state}}</h3>
      <p class="meal-reserve-time">{{mealDate}}</p>
      {{#if hasEndTime}}
      <p class="meal-reserve-time">
        {{mealStartTime}}-{{mealEndTime}}
      </p>
      {{else}}
      <p class="meal-reserve-time">
        {{mealStartTime}}
      </p>
      {{/if}}
      <div class="ui divider"></div>
      <div>
        <select class="ui centered compact selection number-of-guest dropdown" id="request-number">
          <i class="dropdown icon"></i>
          {{#each reserveOptions}}
          <option value="{{value}}">{{text}}</option>
          {{/each}}
        </select>
      </div>
      <h3 class="ui centered header">Chip In per Guest:</h3>
      <div class="ui centered columns grid">
        <div class="three wide column" style="text-align: right">
          <div class="ui icon red mini button has-popup" data-content="This might lower the chance of being accepted by the host." data-variation="basic" data-position="left center" id="minus-donation" style="padding: 0.5em 0.5em 0.5em">
            <i class="minus icon"></i>
          </div>
          <div class="six wide column">
            <div class="ui input">
              <input type="text" id="donation-input" value="{{donation}}" style="font-size: 1.5em" />
            </div>
          </div>
          <div class="three wide column">
            <div class="ui icon green mini button" id="add-donation" style="padding: 0.5em 0.5em 0.5em">
              <i class="plus icon"></i>
            </div>
          </div>
          <p class="meal-reserve-total-donation" style="font-size: 12px; color: #808080"> ${{donation}}x{{numberOfGuest}} Guest(s) ${{totalDonation}}</p>
          <p class="meal-reserve-total-donation" style="font-size: 12px; color: #808080">15% Service Fee ${{totalService}}</p>
          <div class="ui divider"></div>
          <p class="meal-reserve-total-donation" style="font-size: 2em; color: #ff0000">Total ${{totalDonation}}</p>
        </div>
      </div>
    </div>
    <div class="nine wide column payment-details">
      <div class="ui {{#unless hasError}}hidden{{/unless}} error message">
        <div class="header">
          Error when reserving
        </div>
        <ul class="list">
          {{#each errors}}
          <li>{{reason}}</li>
          {{/each}}
        </ul>
      </div>
      <div style="{{#if noCharge}}display: none{{/if}}">
        <h1>Payment</h1>
        <form class="ui segment form payment-form" id="payment-form">
          <div id="dropin" class="columns small-12"></div>
          <a href="https://www.braintreegateway.com/merchants/6w8wzq4dm7yrptd5/verified" target="_blank">
            <img src="https://s3.amazonaws.com/braintree-badges/braintree-badge-wide-light.png" width="270px" height="36px" border="0" id="braintree-seal">
          </a>
          <input type="submit" class="ui hidden segment button" value="Request to Join" id="submit-transaction">
        </form>
      </div>
      <h2>
        <img class="ui avatar image" src="{{c.url hostCloudinaryPublicId crop='thumb' height=100 width=100 gravity='face'}}" />
        {{#if questionForGuest}}
        Please answer the question(s) from the host, {{hostName}}.
        {{else}}
        Say "Hello" to your host, {{hostName}}!
        {{/if}}
      </h2>
      {{#if questionForGuest}}
      <p style="font-size: 1.2rem;">Question(s): <i>{{questionForGuest}}</i></p>
      {{/if}}
      <form class="ui segment form payment-form">
        <div class="columns small-12"></div>
        <div class="field">
          <textarea style="height: 120px;" placeholder="{{#if questionForGuest}}Write the the answer here!{{else}}Say anything to your host!{{/if}}" id="hello-to-host"></textarea>
        </div>
      </form>
      <div style="{{#unless noCharge}}display: none{{/unless}}">
        <p>By clicking on "Request to join", you agree to the <a href="/privacy" target="_blank">Terms of Service</a>, <a href="/help#show-cancellation-policy" target="_blank">Cancellation Policy</a> and <a href="/help#show-refund-policy" target="_blank">Refund Policy</a>.</p>
        <input type="submit" class="ui green button" value="Request to Join" id="join-event">
      </div>
      <div style="{{#if noCharge}}display: none{{/if}}">
        <p>By clicking on "Request to join", you agree to pay the total amount shown, which includes Service Fees and to the <a href="/privacy" target="_blank">Terms of Service</a>, <a href="/help#show-cancellation-policy" target="_blank">Cancellation Policy</a> and <a href="/help#show-refund-policy" target="_blank">Refund Policy</a>.</p>
        <label class="ui green button" for="submit-transaction">Request to Join</label>
      </div>
    </div>
  </div>
</template>