<template name="mealEdit">
  {{mapOptions}}
  <div class="ui stackable column centered grid meal-edit-form">
    <div class="ui grid">
      <div class="ten wide centered column">
        <div class="ui {{#unless hasError}}hidden{{/unless}} error message">
          <div class="header">
            You cannot create this event with the provided information
          </div>
          <ul class="list">
            {{#each errors}}
            <li>{{reason}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
    <div class="eight wide column">
      <div class="ui segment form">
        <div class="required field">
          <label>Event Title</label>
          <div class="ui icon input">
            <input type="text" name="title" placeholder="Example: Game Night, Singles Night" value="{{title}}" />
          </div>
        </div>
        <div class="required field">
          <label>Description of the event</label>
          <textarea id="meal-edit-summary" placeholder="Tell us something about your event." value="{{summary}}"></textarea>
        </div>
        <div class="two required fields form-margin-top">
          <div class="field">
            <label>Cost per person</label>
            <div class="ui labeled input">
              <div class="ui label">
                $
              </div>
              <input type="number" name="price" value="{{pricePerGuest}}" disabled="" />
            </div>
          </div>
          <div class="field">
            <label>Max Number of Guest(s)</label>
            <input type="number" name="maxParty" value="{{maxParty}}" />
          </div>
        </div>
        <div class="required field">
          <div class="ui toggle checkbox">
            <input type="checkbox" name="public" checked="{{autoAccept}}" id="event-edit-auto-accept-toggle" />
            <label><b>Auto Accept Guests</b></label>
          </div>
        </div>
        <div class="two fields">
          <div class="required field">
            <label>Starts at</label>
            <input id="meal-edit-start-time" type="text" value="{{mealStartAt}}" />
          </div>
          <div class="field">
            <label>Ends at (Optional)</label>
            <div class="field">
              <input id="meal-edit-end-time" type="text" placeholder="Add a Time?" value="{{#if time.endAt}}{{mealEndAt}}{{/if}}" />
            </div>
          </div>
        </div>
        <div class="two required fields form-margin-top">
          <div class="field">
            <label>Reservation Deadline <i class="help circle icon has-popup" data-content="When do you want to stop accepting requests?" data-position="top left"></i></label>
            <div class="ui compact selection dropdown">
              <input type="hidden" name="deadline" value="{{deadlineDiff}}" />
              <div class="default text">3</div>
              <i class="dropdown icon"></i>
              <div class="menu">
                <div class="item" data-value="1">1 hours before start</div>
                <div class="item" data-value="2">2 hours before start</div>
                <div class="item" data-value="5">5 hours before start</div>
                <div class="item" data-value="12">12 hours before start</div>
                <div class="item" data-value="24">1 day before start</div>
                <div class="item" data-value="36">2 days before start</div>
                <div class="item" data-value="72">3 days before start</div>
              </div>
            </div>
          </div>
          <div class="field">
            <label>Type of Environment</label>
            <div class="ui selection dropdown">
              <input type="hidden" name="placeType" value="{{placeType}}" />
              <div class="text">
                {{placeTypeName}}
              </div>
              <i class="dropdown icon"></i>
              <div class="menu">
                <div class="item" data-value="0">Private Residency</div>
                <div class="item" data-value="1">Cafe</div>
                <div class="item" data-value="2">Restaurant</div>
                <div class="item" data-value="4">Studio</div>
                <div class="item" data-value="5">Outdoor</div>
                <div class="item" data-value="3">Other</div>
              </div>
            </div>
          </div>
        </div>
        <div class="required field" style="margin-top: 1em;">
          <label>Upload a cover photo for the event</label>
          <img width="100%" src="{{coverPhoto}}" id="preview-current-cover-picture" />
          <div class="field">
            <div id="update-cover-btn" class="ui icon green button">
              <i class="upload icon"></i>Change Photo
            </div>
            <input type="file" id="current-cover-file">
            <input type="hidden" id="current-cover-url">
          </div>
        </div>
        <div class="ui hidden divider"></div>
        <div class="required field">
          <label>Address (Only available in California)</label>
          <input id="address-update" type="text" name="address" value="{{address}}" />
        </div>
        <div class="ui accordion">
          <div class="title" style="text-align: center">
            <i class="angle double down icon"></i>
            Click here to write more details
            <i class="angle double down icon"></i>
          </div>
          <div class="content">
            <div class="field">
              <label>Question(s) for guest</label>
              <textarea id="meal-edit-question-for-guest" placeholder="Ask guest question(s) when they request to join" value="{{questionForGuest}}"></textarea>
            </div>
            <div class="field">
              <label>Conversation topics that are interesting to you</label>
              <textarea id="meal-edit-interaction" placeholder="Tell your guest any conversation topics that will interest you." value="{{interaction}}"></textarea>
            </div>
            <div class="field">
              <label>Other things to note</label>
              <textarea id="meal-edit-note" placeholder="How to access to your location." value="{{note}}"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="ui segment form">
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" name="notify-guest-checkbox">
            <label>Notify Guests about the change(s).</label>
          </div>
        </div>
      </div>
      <div class="three column centered row" align="center">
        <a class="ui small red cancel button">
          <i class="remove icon"></i>
          Cancel
        </a>
        <a class="ui small green button" id="meal-edit-button">
          <i class="checkmark icon"></i>
          Done
        </a>
      </div>
    </div>
  </div>
</template>