<template name="DashboardProfileLayout">
  {{> sidebarMenu}}
  <div class="pusher">
    <div class="ui dimmer">
      <div class="ui loader"></div>
    </div>
    {{> navbar}}
    {{> dashboardMenu}}
    <div class="all-content">
      <div class="ui stackable page grid">
        <div class="four wide column">
          <div class="ui vertical pointing menu dashboard-listings-menu">
            <a class="{{#if urlIs==/users/me/profile/edit_profile}}active{{/if}} red item dashboard-profile-link" href="/users/me/profile/edit_profile">
              Edit Profile
            </a>
            <a class="{{#if urlIs==/users/me/profile/trust_and_verification}}active{{/if}} red item dashboard-profile-link" href="/users/me/profile/trust_and_verification">
              Trust and Verification
            </a>
            <a class="{{#if urlPrefixIs==/users/me/profile/reviews}}active{{/if}} red item dashboard-profile-link" href="/users/me/profile/reviews/reviews_about_me">
              Review
            </a>
          </div>
        </div>
        <div class="twelve wide column">
          {{> yield}}
        </div>
      </div>
    </div>
    {{> footer}}
  </div>
</template>