<template name="loggedInMenu">
  <!--{{#if isHostOfEvent}}-->
  <!--<div class="item button">-->
  <!--<div>-->
  <!--<a class="item" href="/events/{{mealId}}/edit"><i class="edit default large icon"></i>Edit Event</a>-->
  <!--</div>-->
  <!--</div>-->
  <!--{{/if}}-->
  <div id="user-dropdown" class="ui dropdown item user-dropdown">
    <img class="ui avatar image" src="{{c.url currentUser.profile.thumbnail.cloudinaryPublicId crop='thumb' height=100 width=100 gravity='face'}}" />
    {{#if hasNotification}}
    <div class="circular ui red label notification-count">{{notificationsCount}}</div>
    {{/if}} />
    <div class="ui icon text">
      {{currentUser.profile.firstName}}
      <i class="large grey dropdown icon" style="margin-right: -10px;"></i>
    </div>
    <div class="ui vertical menu">
      <a class="item" href="/users/me/dashboard">Dashboard</a>
      {{#if hasDashboardNotification}}
      <div class="ui red label" style="margin-right: -5px;">
        {{dashboardNotificationsCount}}
      </div>
      {{else}}
      <i class="dashboard icon"></i>
      {{/if}}
      <a class="item" href="/users/me/inbox">
        Inbox
        {{#if hasUnreadMessage}}
        <div class="ui red label" style="margin-right: -5px;">
          {{unreadMessageCount}}
        </div>
        {{else}}
        <i class="mail icon"></i>
        {{/if}}
      </a>
      <a class="item" href="/users/me/listings">Hosting<i class="announcement icon"></i></a>
      <a class="item" href="/users/me/reservations">Attending<i class="ticket icon"></i></a>
      <a class="item" href="/users/me/profile/edit_profile">Profile<i class="user icon"></i></a>
      <a class="item" href="/users/me/settings">Settings<i class="setting icon"></i></a>
      <a class="item" href="/help">Help Center<i class="help icon"></i></a>
      <a class="item logout-btn">Logout<i class="sign out icon"></i></a>
    </div>
  </div>
</template>
