<template name="listingsRow">
  <tr>
    <td>{{date}}</td>
    <td><a href="/events/{{_id}}">{{title}}<br>{{time}}</a></td>
    <td>{{numberOfGuests}}</td>
    <td>{{spotsLeft}}</td>
    <td><a href="/events/{{_id}}/guests">Guests List</a></td>
    <td>
      {{#if active}}
      <a href="/events/{{_id}}/edit">
        <div class="ui icon button edit-event-button">
          <i class="edit icon"></i> Edit
        </div>
        <div class="ui red icon button cancel-event-button">
          <i class="remove icon"></i>Cancel
        </div>
      </a>
      {{else}}
      <div class="ui red text">Cancelled</div>
      {{/if}}
    </td>
    {{#if active}}
    <div class="ui small modal" id="cancel-event-{{_id}}">
      <i class="close icon"></i>
      <div class="header">
        Cancel Event
      </div>
      <div class="content">
        <p>Are you sure you want to cancel your event {{title}}?</p>
        <div class="ui form">
          <div class="ui required field">
            <label>Please state your reason:</label>
            <textarea class="cancel-reason"></textarea>
          </div>
        </div>
      </div>
      <div class="actions">
        <div class="ui negative icon button cancel-event-confirm" id="cancel-event-confirm-{{_id}}">
          Confirm Cancellation
        </div>
      </div>
    </div>
    {{/if}}
  </tr>
</template>