<template name="listingsList">
  <div class="ui segment">
    <div class="ui selection dropdown">
      <div class="default text">Show All</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item">Show All</div>
        <div class="item">Upcoming Events</div>
        <div class="item">Past Events</div>
      </div>
    </div>
    <a class="ui right floated green button" href="/events/new">
      <i class="plus icon"></i>
      New Event
    </a>
  </div>
</template>