<template name="receivedRequestCancelled">
  <div class="ui top attached tabular menu">
    <a class="item pending-request-link" href="/users/me/requests/pending">
      Pending
    </a>
    <a class="item approved-request-link" href="/users/me/requests/approved">
      Approved
    </a>
    <a class="active item">
      Declined/Cancelled
    </a>
  </div>
  <div class="ui bottom attached segment">
    <table class="ui unstackable table">
      <thead>
        <tr>
          <th class="customized th">Status</th>
          <th class="customized th">Guest Name</th>
          <th class="customized th">Date</th>
          <th class="customized th">Event</th>
        </tr>
      </thead>
      <tbody>
        {{> pages}}
      </tbody>
    </table>
    {{> pagesNav}}
  </div>
</template>