<template name="ReviewToWriteItem">
  <div class="ui segment grid dashboard-review-about-you-card">
    <div class="two wide column">
      <img class="ui avatar image" src="{{c.url userCloudinaryPublicId crop='fill' height=300 width=300 gravity='face'}}" width="100%" />
      <p>{{userName}}</p>
    </div>
    <div class="fourteen wide column">
      <h4 class="ui header">
        <a href="/events/{{mealId}}">{{mealTitle}}</a>
        @ {{mealDate}}
      </h4>
      {{#if isGuest}}
      <p>You have {{expiredIn}} to submit a review for <a href="/users/{{hostId}}/reviews/gues">{{userName}}</a></p>
      <a href="/events/{{mealId}}/review_for_host">Write a Review</a><br>
      <a href="/orders/{{_id}}">View Event Detail</a>
      {{else}}
      <p>You have {{expiredIn}} to submit a review for <a href="/users/{{userId}}/reviews/guest">{{userName}}</a></p>
      <a href="/events/{{mealId}}/users/{{userId}}/review_for_guest">Write a Review</a><br>
      {{/if}}
    </div>
  </div>
</template>