<template name="reviewForHost">
  <div class="ui page grid">
    <div class="six wide column">
      <div class="ui fluid card">
        <div class="image">
          <img src="{{cover.org}}" width="100%" />
        </div>
        <div class="content">
          <a class="header">{{title}}</a>
          <p>{{address.city}}, {{address.state}}<br>{{mealDate}}<br>{{mealStart}}{{#if mealEnd}} - {{mealEnd}}{{/if}}</p>
          <div class="right floated author" style="position: absolute; right: 1rem; bottom: 1.5rem;">
            <img class="ui avatar image" src="{{c.url hostColudinaryId crop='thumb' height=100 width=100 gravity='face'}}" />
            by {{hostName}}
          </div>
        </div>
      </div>
    </div>
    <div class="ten wide column">
      <div class="ui {{#unless hasError}}hidden{{/unless}} error message">
        <div class="header">
          You cannot post this review with the provided information
        </div>
        <ul class="list">
          {{#each errors}}
          <li>{{reason}}</li>
          {{/each}}
        </ul>
      </div>
      <form class="ui form">
        <h4 class="ui horizontal header divider">
          <i class="write icon"></i>
          Review for Host (*Required)
        </h4>
        <p>Your host will not see your star rating. Hosts only see an average of all start ratings.</p>
        <br>
        <div class="ui stackable two column grid">
          <div class="column">
            <h3 class="ui header">Overall*</h3>
            <p>How is your overall experience?</p>
            <div id="hostOverallRating" class="ui massive star rating" data-rating="0"></div>
          </div>
          <div class="column">
            <h3 class="ui header">Communication*</h3>
            <p>How responsive was the host for your questions?</p>
            <div id="hostCommunicationRating" class="ui massive star rating" data-rating="0"></div>
          </div>
        </div>
        <div class="ui hidden divider"></div>
        <div class="column ui required field">
          <br>
          <h3 class="ui header">Describe Your Experience*</h3>
          <p>This review will be public both on your profile and your host's profile.</p>
          <textarea id="guestExperience" placeholder="Type it here."></textarea>
        </div>
        <h4 class="ui horizontal header divider">
          <i class="privacy icon"></i>
          Private Feedback for Plenry (Optional)
        </h4>
        <p>How did you like the event?</p>
        <textarea id="guestPrivateFeedbackPositive" placeholder="Type it here."></textarea>
        <p>How can the host improve your experience?</p>
        <textarea id="guestPrivateFeedbackNegative" placeholder="Type it here."></textarea>
      </form>
      <div class="ui hidden divider"></div>
      <div class="column" align="right">
        <div class="positive ui button" id="review-for-host-submit">Submit</div>
      </div>
    </div>
  </div>
</template>