<template name="ReviewsToWrite">
  <div class="ui top attached tabular menu">
    <a class="item reviews-link" href="/users/me/profile/reviews/reviews_about_me" style="color: #73747B;">
      Reviews about You
    </a>
    <a class="item reviews-link" href="/users/me/profile/reviews/reviews_by_me" style="color: #73747B;">
      Reviews by You
    </a>
    <a class="active item reviews-link">
      Reviews to write
    </a>
  </div>
  <div class="ui bottom attached segment">
    Reviews can be written after the specified end time of events, or after the start time if end time is not specified.
    {{> pages}}
    {{> pagesNav}}
  </div>
</template>