<template name="dashboardDashboard">
  <div class="ui stackable page grid">
    <div class="four wide column">
      <div class="column">
        <div class="ui fluid card">
          <div class="image">
            <img src="{{c.url currentUser.profile.thumbnail.cloudinaryPublicId crop='fill' height=300 width=300}}" />
          </div>
          <div class="content">
            <a class="header">{{currentUser.profile.firstName}}</a>
          </div>
        </div>
      </div>
      <h3 class="ui header">Verifications</h3>
      <div class="ui dashboard verification segment">
        {{#if emailVerified}}
        <i class="green checkmark icon">Email</i>
        <br />
        {{/if}}
        {{#if phoneVerified}}
        <i class="green checkmark icon">Phone Number</i>
        <br />
        {{/if}}
        {{#if facebookLinked}}
        <i class="green checkmark icon">Facebook</i>
        <br />
        {{/if}}
        {{#if facebookNumberOfFriends}}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{currentUser.services.facebook.numberOfFriends}} Friends<br />
        {{/if}}
        {{#if idVerified}}
        <i class="green checkmark icon">ID </i><br />
        {{/if}}
        {{#if eduVerified}}
        <i class="green checkmark icon">Edu </i><br />
        {{/if}}
        <!--{{#if reviewed}}-->
        <!--<i class="green checkmark icon"></i>-->
        <!--{{else}}-->
        <!--<i class="red remove icon"></i>-->
        <!--{{/if}}-->
        <!--Reviews<br>-->
        <a href="/users/me/profile/trust_and_verification">+ Add more</a>
      </div>
      <h3 class="ui header">About Me</h3>
      <div class="ui segment">
        <h5 class="ui header">Education</h5>
        {{#if hasSchool}}
        {{currentUser.profile.school}}
        {{else}}
        No Information
        {{/if}}
        <br>
        <h5 class="ui header">Work</h5>
        {{#if hasWork}}
        {{currentUser.profile.work}}
        {{else}}
        No Information
        {{/if}}
        <br>
        <h5 class="ui header">Language</h5>
        {{#if hasLanguage}}
        {{currentUser.profile.language}}
        {{else}}
        No Information
        {{/if}}
        <br>
      </div>
    </div>
    <div class="twelve wide column">
      <div class="row">
        <h1 class="ui header">
          Hi, I'm {{currentUser.profile.firstName}}
        </h1>
        Member Since {{joinDate}} {{#if hasCity}}from currentUser.profile.city{{/if}}
      </div>
      <div class="ui hidden divider"></div>
      <div class="row">
        <h4 class="ui block top attached header">About Me</h4>
        <div class="ui bottom attached secondary segment">
          {{#if hasDescription}}
          {{breaklines currentUser.profile.description}}
          {{else}}
          No
          Information
          {{/if}}
        </div>
      </div>
      <h3 class="ui header">Notifications</h3>
      {{#if hasNotifications}}
      {{#each notifications}}
      {{> notificationMessage}}
      {{/each}}
      {{else}}
      You have no notification.
      {{/if}}
    </div>
  </div>
</template>

<template name="reviewCard">
  <div class="ui segment grid review-card">
    <div class="three wide column">
      <img src="{{c.url userCloudinaryPublicId crop='fill' height=300 width=300 gravity='face'}}" width="100%" />
      <p>{{userName}}</p>
    </div>
    <div class="thirteen wide column">
      <h4 class="ui header">
        <a href="/events/{{mealId}}">{{mealTitle}}</a>
        @ {{mealDate}}
      </h4>
      <p>{{content}}</p>
    </div>
  </div>
</template>

<template name="dashboardListings">
  <div class="ui stackable page grid">
    <div class="four wide column">
      <div class="ui vertical pointing menu dashboard-listings-menu">
        <a class="red item dashboard-listings-link">
          Events hosting
        </a>
        <a class="red item dashboard-listings-link">
          Booking requests
        </a>
      </div>
    </div>
    <div class="twelve wide column">
      {{#if isSection==1}}
      {{> upcomingListing}}
      <div class="ui hidden divider"></div>
      <div class="row" align="left">
        {{#if currentUser}}
        <div class="ui green icon button host-event-btn">
          <i class="plus icon"></i>
          New Event
        </div>
        {{/if}}
      </div>
      {{/if}}
      {{#if isSection==2}}
      {{> pastListing}}
      {{/if}}
      {{#if isSection==3}}
      {{> cancelledListing}}
      {{/if}}
      {{#if isSection==4}}
      {{> receivedRequestPending}}
      {{/if}}
      {{#if isSection==5}}
      {{> receivedRequestApproved}}
      {{/if}}
      {{#if isSection==6}}
      {{> receivedRequestCancelled}}
      {{/if}}
    </div>
  </div>
</template>



<template name="stars">
  <i class="{{getStar 1}}"></i>
  <i class="{{getStar 2}}"></i>
  <i class="{{getStar 3}}"></i>
  <i class="{{getStar 4}}"></i>
  <i class="{{getStar 5}}"></i>
</template>

<template name="tickOrCross">
  {{#if cond}}
  <i class="green checkmark icon"></i>
  {{else}}
  <i class="red remove icon"></i>
  {{/if}}
</template>

<template name="reviewSection">
  <div class="ui segment grid review-card">
    <div class="two wide column">
      <img class="ui avatar image" src="{{c.url userCloudinaryPublicId crop='fill' height=300 width=300 gravity='face'}}" width="100%" />
      <p>{{userName}}</p>
    </div>
    <div class="fourteen wide column">
      <h4 class="ui header">
        <a href="/events/{{mealId}}">{{mealTitle}}</a>
        @ {{mealDate}}
      </h4>
      <p>{{content}}</p>
    </div>
  </div>
</template>

<template name="dashboardReservations">
  <div class="ui stackable page grid">
    <div class="four wide column">
      <div class="ui vertical pointing menu dashboard-listings-menu">
        <a class="{{#if isSection==1}}active{{/if}} red item dashboard-reservation-link">Upcoming Reservation</a>
        <a class="{{#if isSection==2}}active{{/if}} red item dashboard-reservation-link">Past Reservation</a>
      </div>
    </div>
    <div class="twelve wide column">
      {{#if isSection==1}}
      {{> upcomingReservation}}
      {{/if}}
      {{#if isSection==2}}
      {{> pastReservation}}
      {{/if}}
    </div>
  </div>
</template>

<template name="dashboardProfile">
  <div class="ui stackable page grid">
    <div class="four wide column">
      <div class="ui vertical pointing menu dashboard-listings-menu">
        <a class="{{#if isSection==1}}active{{/if}} red item dashboard-profile-link">
          Edit Profile
        </a>
        <a class="{{#if isSection==2}}active{{/if}} red item dashboard-profile-link">
          Trust and Verification
        </a>
        <a class="{{#if isSection==3}}active{{/if}} {{#if isSection==4}}active{{/if}} red item dashboard-profile-link">
          Review
        </a>
      </div>
    </div>
    <div class="twelve wide column">
      {{#if isSection==1}}
      {{> EditProfile}}
      {{/if}}
      {{#if isSection==2}}
      {{> TrustAndVerification}}
      {{/if}}
      {{#if isSection==3}}
      {{> ReviewsAboutYou}}
      {{/if}}
      {{#if isSection==4}}
      {{> ReviewsByYou}}
      {{/if}}
    </div>
  </div>
</template>

<template name="PhotosAndVideo">
  <form class="ui form">
    <h4 class="ui block top attached header">Photos and Video</h4>
    <div class="ui bottom attached secondary segment">
      <div class="row" align="center">
        <div class="ui segment">
          {{#if photo}}
          <div>
            <img width="100%" src="{{photo}}" />
          </div>
          {{/if}}
        </div>
        <div class="row" align="center">
          <div class="ui black basic medium button" id="photo-taking-button">Take Picture</div>
          <div class="ui black basic medium button">Upload</div>
        </div>
      </div>
    </div>
  </form>
</template>

<template name="phoneVerification">
  <i class="close icon"></i>
  <div class="header">
    Phone Verification
  </div>
  <div class="ui {{#unless hasError}}hidden{{/unless}} error message">
    <div class="header">
      Cannot verify this number
    </div>
    <ul class="list">
      {{#each errors}}
      <li>{{reason}}</li>
      {{/each}}
    </ul>
  </div>
  <div class="content">
    <div class="description">
      <div class="ui form">
        <div class="ui stackable two column grid">
          <div class="six wide column">
            <div class="field">
              {{#if newVerify}}
              <label>Phone Number</label>
              <input type="text" id="phone-verify-number" placeholder="xxxxxxxxxx" />
              {{else}}
              <label>Code</label>
              <input type="text" id="verify-code" />
              {{/if}}
            </div>
          </div>
          <div class="ten wide column">
            <div id="verify-sms" class="column" align="right">
              {{#if newVerify}}
              <div class="ui green button send-verify-code">Verify via SMS</div>
              {{else}}
              <div class="ui green button verify-code-btn">Verify</div>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
      <div class="ui hidden divider"></div>
      <p>
        Phone number will only be shared with host who accepts your request.<br>This allows us to
        stay in touch.
      </p>
      <div class="ui accordion" id="why-verify">
        <div class="active title">
          <i class="dropdown icon"></i>
          <a>Why verify?</a>
        </div>
        <div class="content">
          <p>
            Having a verified phone number allows hosts to contact you regarding an upcoming
            event.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="idVerification">
  Please wait...
</template>

<template name="Notification">
  <form class="ui form">
    <h4 class="ui block top attached header">Notification</h4>
    <div class="ui bottom attached secondary segment">
      <div class="ui segment">
        <h2>Mobile Phone</h2>
        <h4>
          You can edit your phone number from Edit Profile Section.<br>Receive updates regularly
          from SMS
          messages.
        </h4>
        <p>
          Note: For more information, text HELP to ####.<br>Text STOP to cancel mobile
          notification. Message
          and data rate may apply.
        </p>
        <div class="ui divider"></div>
        <h2>Notisfy Me When ...</h2>
        <div class="ui checkbox">
          <input type="ReceiveMessage">
          <label>I receive a message from another member on Plenry.</label>

        </div>
        <div class="ui hidden divider"></div>
        <div class="ui checkbox">
          <input type="AcceptedOrDenied">
          <label>My booking is accepted or denied.</label>\n
        </div>
        <div class="ui hidden divider"></div>
        <div class="ui checkbox">
          <input type="ReceiveRequest">
          <label>When I receive a request.</label>
        </div>
        <div class="ui divider"></div>
        <h2>Email</h2>
        <div class="ui checkbox">
          <input type="UpdatesAndInspirations">
          <label>Updates &amp; Inspirations from Plenry.</label>

        </div>
        <div class="ui hidden divider"></div>
        <div class="ui checkbox">
          <input type="ReservationAndReviews">
          <label>Reservation &amp; Review reminder.</label>
        </div>
      </div>
    </div>
  </form>
  <div class="ui hidden divider"></div>
  <div class="right floated left aligned six wide column">
    <div class="ui green button">Save</div>
  </div>
</template>

<template name="PaymentMethod">
  <form class="ui form">
    <h4 class="ui block top attached header">Payment Method</h4>
    <div class="ui bottom attached secondary segment">
      <div class="ui segment">
        <div class="ui medium button">
          <i class="dollar icon"></i>
          + Payment Method
        </div>
      </div>
    </div>
  </form>
</template>

<template name="showUserIcons">
  {{#each spots}}
  {{#if taken}}
  <i class="green user icon"></i>
  {{else}}
  <i class="grey user icon"></i>
  {{/if}}
  {{/each}}
</template>

<template name="birthdayYearOptions">
  {{#each years}}
  <div class="item" data-value="{{year}}">{{year}}</div>
  {{/each}}
</template>

<template name="cardYearOptions">
  {{#each years}}
  <div class="item" data-value="{{year}}">{{year}}</div>
  {{/each}}
</template>

<template name="dishPhotoUpload">
  <form>
    <input type="file" id="dish-photo">
    <a id="ss">upload</a>
  </form>
</template>