<template name="TransactionHistory">
  <form class="ui form">
    <h4 class="ui block top attached header">Transaction History</h4>
    <div class="ui bottom attached secondary segment">
      <table class="ui unstackable table">
        <thead>
          <tr>
            <th>Date/Time</th>
            <th>Event</th>
            <th>Guest</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          {{#each transactions}}
          {{> transactionRow}}
          {{/each}}
        </tbody>
      </table>
    </div>
  </form>
</template>