<template name="dashboardMenu">
  <div>
    <div class="ui pointing menu" id="dashboard-menu">
      <a id="dashboard-left-fake-item" class="item"></a>
      <a class="{{#if urlIs==/users/me/dashboard}}active green{{/if}} item" href="/users/me/dashboard">
        <i class="dashboard icon"></i>
        Dashboard
      </a>
      <a class="{{#if urlIs==/users/me/inbox}}active green{{/if}} item" href="/users/me/inbox">
        <i class="mail icon"></i>
        Inbox
      </a>
      <a class="{{#if urlPrefixIs==/users/me/requests}}active{{/if}}{{#if urlPrefixIs==/users/me/listings}}active{{/if}}  green item" href="/users/me/listings/upcoming">
        <i class="announcement icon"></i>
        Hosting
      </a>
      <a class="{{#if urlPrefixIs==/users/me/reservations}}active green{{/if}} item" href="/users/me/reservations/upcoming">
        <i class="ticket icon"></i>
        Attending
      </a>
      <a class="{{#if urlPrefixIs==/users/me/profile}}active green{{/if}} item" href="/users/me/profile/edit_profile">
        <i class="user icon"></i>
        Profile
      </a>
      <a class="{{#if urlIs==/users/me/settings}}active green{{/if}} item" href="/users/me/settings">
        <i class="settings icon"></i>
        Settings
      </a>
    </div>
  </div>
</template>