<template name="Search">
    <div class="row">
        <div class="ui form">
            <div class="four fields">
                <div id="data-field" class="field">
                    <div class="ui icon input">
                      <input type="text" class="form-control" id="event-date" placeholder="Date" value="{{queryDate}}" />
                        <i class="calendar link icon"></i>
                     </div>
                </div>
                <div id="guest-field" class="field">
                    <div class="ui selection dropdown">
                        <input type="hidden" name="guest" id="search-spots" value="{{queryNumber}}" />
                        <div class="default text">1 Guest</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="item" data-value="1">1 Guest</div>
                            <div class="item" data-value="2">2 Guests</div>
                            <div class="item" data-value="3">3 Guests</div>
                            <div class="item" data-value="4">4 Guests</div>
                            <div class="item" data-value="5">5 Guests</div>
                                                      <div class="item" data-value="6">6 Guests</div>
                        </div>
                    </div>
                </div>
                <div id="blank-field" class="field"></div>
                <div id="redo-search-field" class="field">
                                        <div class="ui green button" id="redo-search-btn">Redo Search</div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui stackable two column grid left-right-margin-auto">
        <div class="column">
            <div class="ui stackable column grid">
                <div class="column">
                  <p class="text-align-right">{{totalEventsFound}} Events Available</p>
                </div>
            </div>
            <div id="search-result" class="ui two column stackable grid">
                {{#each searchResults}}
              {{> eventCard}}
              {{/each}}
            </div>
        </div>
        <div id="search-map" class="column">
            <div class="search-map-container">
                {{#with name=searchMap options=mapOptions}}
                {{> googleMap}}
              {{/with}}
            </div>
        </div>
    </div>

</template>