<template name="navbar">
  {{#if onLandingPage}}
  <div class="ui menu" id="navbar">
    <a class="left item" id="user-menu">
      <i class="content icon">Menu</i>
    </a>
    <a class="left item" href="/" id="home-logo-button">
      <img src="/images/plenry_beta.png" />
      <!--<img src="/images/logo_text.png">-->
    </a>
    <div class="right menu">
      <!--<a class="left item" id="search-button" href="/search">-->
      <!--<i class="search icon"></i>-->
      <!--</a>-->
      {{> loggedOutMenu}}
    </div>
  </div>
  {{else}}
  {{mapOptions}}
  <div class="ui menu" id="navbar">
    <a class="left item" id="user-menu">
      <i class="content icon">Menu</i>
    </a>
    <a class="left item" href="/" id="home-logo-button">
      <img src="/images/plenry_beta.png" />
      <!--<img src="/images/logo_text.png">-->
    </a>
    {{#unless onHomePage}}
    <div id="nav-location" class="left item">
      <form class="ui icon input" action="/search">
        <input id="location-search" type="text" placeholder="City" name="city" />
        <i class="search link icon navbar-search-icon"></i>
      </form>
    </div>
    {{/unless}}
    <div class="right menu">
      <!--<a class="left item" id="search-button" href="/search">-->
      <!--<i class="search icon"></i>-->
      <!--</a>-->
      {{#if currentUser}}
      {{> loggedInMenu}}
      {{else}}
      {{> loggedOutMenu}}
      {{/if}}
    </div>
  </div>
  {{/if}}
</template>
