<template name="DashboardListingLayout">
  {{> sidebarMenu}}
  <div class="pusher">
    <div class="ui dimmer">
      <div class="ui loader"></div>
    </div>
    {{> navbar}}
    {{> dashboardMenu}}
    <div class="all-content">
      <div class="ui stackable page grid">
        <div class="four wide column">
          <div class="ui vertical pointing menu dashboard-listings-menu">
            <a class="{{#if urlPrefixIs==/users/me/listings}}active{{/if}} red item dashboard-listings-link" href="/users/me/listings/upcoming">
              Events hosting
            </a>
            <a class="{{#if urlPrefixIs==/users/me/requests}}active{{/if}} red item dashboard-listings-link" href="/users/me/requests/pending">
              Booking requests
            </a>
          </div>
        </div>
        <div class="twelve wide column">
          {{> yield}}
        </div>
      </div>
    </div>
    {{> footer}}
  </div>
</template>