<template name="userProfileReviewsFromHost">
  <div class="ui stackable page grid">
    <div class="four wide column">
      <div class="column">
        <div class="ui fluid card">
          <div class="image">
            <img src="{{c.url thumbnail crop='fill' height=300 width=300}}" />
          </div>
          <div class="content">
            <div class="header">{{name}}</div>
          </div>
        </div>
      </div>
      <h3 class="ui header">Verifications</h3>
      <div class="ui dashboard verification segment">
        {{#if emailVerified}}
        <i class="green checkmark icon"></i>Email<br>
        {{/if}}
        {{#if phoneVerified}}
        <i class="green checkmark icon"></i>Phone Number<br>
        {{/if}}
        {{#if facebookLinked}}
        <i class="green checkmark icon"></i>Facebook<br>
        {{/if}}
        {{#if facebookNumberOfFriends}}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{facebookNumberOfFriends}} Friends<br>
        {{/if}}
        {{#if googleLinked}}
        <i class="green checkmark icon"></i>Google<br>
        {{/if}}
        {{#if idVerified}}
        <i class="green checkmark icon"></i>ID <br>
        {{/if}}
        {{#if eduVerified}}
        <i class="green checkmark icon"></i>Edu <br>
        {{/if}}
      </div>
      <h3 class="ui header">About Me</h3>
      <div class="ui segment">
        <h5 class="ui header">School</h5>
        {{#if hasSchool}}
        {{school}}
        {{else}}
        No Information
        {{/if}}<br>
        <h5 class="ui header">Work</h5>
        {{#if hasWork}}
        {{work}}
        {{else}}
        No Information
        {{/if}}<br>
        <h5 class="ui header">Language</h5>
        {{#if hasLanguage}}
        {{language}}
        {{else}}
        No Information
        {{/if}}<br>
      </div>
    </div>
    <div class="twelve wide column">
      <div class="row">
        <h1 class="ui header">
          Hi, I'm {{name}}
        </h1>
        Member Since {{joinDate}} {{#if hasCity}}from {{city}}{{/if}}
      </div>
      <div class="ui hidden divider"></div>
      <div class="row">
        <h4 class="ui block top attached header">Description</h4>
        <div class="ui bottom attached secondary segment">
          {{#if hasDescription}}
          {{breaklines description}}
          {{else}}
          No
          Information
          {{/if}}
        </div>
      </div>
      <div class="ui hidden divider"></div>
      <div class="ui top attached tabular menu">
        <a class="item reviews-about-you-link" href="/users/{{id}}/reviews/guest">
          Reviews from guests
        </a>
        <a class="active item reviews-by-you-link">
          Reviews from hosts
        </a>
      </div>
      <div class="ui bottom attached segment">
        {{> pages}}
        {{> pagesNav}}
      </div>
    </div>
  </div>
</template>